<h1>My WWK Personal Page</h1>

       <% if current_user %>
       <div class="boss">    
           <h2>Who's the boss?  <%= current_user.name %> is, oh yeah</h2>
       </div>
       <% else %>
         <%= link_to 'Log In', login_path %> 
       
       <% end %> 
        



