

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Websites</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kids.each do |kid| %>
      <tr>
        <td><%= kid.name %></td>
        <td><%= kid.age %></td>
        <td><%= link_to "Show", user_kid_path( current_user.id, kid ) %></td>
      </tr>
    <% end %>
  </tbody>
</table>